.myresume {
  width: 100%; // container ichida 100%
  margin: 70px 0 0 0;
  text-align: center; // text markazda turishi uchun

  &__title {
    margin: 0 auto;
    font-family: "Jersey 10";
    font-style: normal;
    font-weight: 400;
    font-size: 15vw; // ekranga moslashadigan font
    line-height: 1.1;
    color: #00ff11;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    word-wrap: break-word; // kichik ekranlarda uzilib tushishi uchun
  }

  /* Responsiveness */
  @media (max-width: 992px) {
    &__title {
      font-size: 16vw; // tabletda biroz kichrayadi
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 16vw; // kichik tablet
    }
  }

  @media (max-width: 576px) {
    &__title {
      font-size: 18vw; // telefon
      text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.25);
    }
  }
}
