.aboutme {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__title {
    font-family: "Jersey 10";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black,
      -2px 2px 0 black;
    text-align: center;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 50px;
    border-radius: 20px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      padding: 30px 20px;
      gap: 20px;
    }

    @media (max-width: 576px) {
      padding: 20px 10px;
      gap: 15px;
    }
  }

  &__image {
    width: 486px;
    height: 282px;
    object-fit: cover;
    border-radius: 15px;

    @media (max-width: 992px) {
      // max-width: 420px;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 380px;
    }

    @media (max-width: 576px) {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    font-family: "Jomolhari";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
    max-width: 500px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 26px;
      text-align: center;
    }

    @media (max-width: 576px) {
      font-size: 15px;
      line-height: 24px;
      text-align: center;
    }
  }
}
